.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  margin: var(--spacing-0_75x) 0;
}

.header h3 {
  margin: var(--spacing-0_5x) 0;
  font-weight: 400;
  font-style: oblique;
}
