.content {
  flex-grow: 1;
  padding: 6rem 0 0 0;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: var(--spacing-2x);
}

.boton-picado {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #2b2b2b;

  border: 1px solid #2b2b2b;
}

.join {
  background-color: #64c46a;
}

.host {
  background-color: #f25a9a;
}

/* temp */
footer {
  font-size: 0.75rem;
}
