.content {
  flex-grow: 1;
  padding: 6rem 0 0 0;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: var(--spacing-2x);
}

.boton-picado {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  box-shadow: 0px 0px 10px -5px
    color-mix(in srgb, var(--obsidiana-700) 75%, transparent);
  color: var(--obsidiana-700);
}

.join {
  background-color: var(--nopal-400);
  border: 1px solid var(--nopal-500);
}
.join:hover {
  background-color: var(--nopal-300);
}
.join:active {
  background-color: var(--nopal-500);
}

.host {
  background-color: var(--rosa-400);
  border: 1px solid var(--rosa-500);
}
.host:hover {
  background-color: var(--rosa-300);
}
.host:active {
  background-color: var(--rosa-500);
}

/* temp */
footer {
  font-size: 0.75rem;
}
